#ifndef {% filter upper %}{{class_name}}_HPP_{% endfilter %}
#define {% filter upper %}{{class_name}}_HPP_{% endfilter %}

{% include "common/hpp/comments.j2" %}

{% include "common/hpp/includes.j2" %}

{% include "common/hpp/class_declaration.j2" %}

{% include "common/hpp/serialization.j2" %}

#endif // {% filter upper %}{{class_name}}_HPP_{% endfilter %}
